body {
    background: linear-gradient(#fdf0d5, #669bbc);
    background-size: cover;
    text-align: left;
    font-family: 'Karla', sans-serif;

}

#card-div {
    height: 400px;
    width: 600px;
    margin: 150px auto 200px auto;
    background-color: #003049;
    border-radius: 10%;
    box-shadow: 5px 6px 10px #0e4455;

    transition-property: width height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    padding-left: 40px;
}

#card-div:hover {

    width: 610px;
    height: 410px;
}

h1 {
    font-family: 'Karla', sans-serif;
    color: azure;

    padding-top: 100px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;

}

span {
    color: #c1121f;
    font-family: 'Karla', sans-serif;
}

p {
    color: #fdf0d5;
    font-size: 0.5px;
    margin-top: none;

}

#generator {
    margin-top: 35px;
    padding: 5px 18px;
    border-radius: 2px;
    border: none;
    background-color: #c1121f;
    color: azure;
    font-size: 16px;
    font-weight: 800px;
}




#line {

    margin-top: 30px;
    height: 0px;
    width: 460px;
    border: 1px solid #2F3E53;
}

#output {
    display: flex;
}

.screen {
    width: 211px;
    height: 39px;
    background: #2F3E53;
    border-radius: 6px;
    margin: 15px 12px;
    color: aliceblue;
    text-align: center;
    padding-top: 15px;

}

#reset {
    background: #2F3E53;
    border-radius: 6px;
    margin: 15px 12px;
    padding: 4px 10px;
    border: none;
    color: #fdf0d5;
}